.video-wrapper {
  margin: 20px auto;
  max-width: 800px;
  text-align: right;
}


.video-title {
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
}

.video-description {
  font-size: 14px;
  color: #ccc;
}