/* 页面背景 */
body {
  background-color: black;
}

/* 顶部导航栏 */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  padding: 20px 20px;
  /* position: absolute; */
  /* width: 100vw; */
  /* margin: 20px ; */
}

/* logo 图片 */
.logo {
  height: 40px;
}

/* 菜单容器 */
.menu-links {
  display: flex;
  gap: 100px;
}

/* 单个菜单项 */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.menu-item:hover {
  opacity: 0.7;
}

/* 中文菜单文字 */
.menu-cn {
  font-size: 16px;
  /* font-weight: bold; */
}

/* 英文菜单文字 */
.menu-en {
  font-size: 8px;
  margin-top: 2px;
  letter-spacing: 1px;
}

/* 当前页面高亮 */
.menu-item.active {
  border-bottom: 1px solid white;
}

.menu-item.active .menu-cn {
  font-size: 19px;
  /* 原本是 16px + 3 */
}

.menu-item.active .menu-en {
  font-size: 11px;
  /* 原本是 8px + 3 */
}

/* 首页样式 */
.ttl {
  color: white;
}