@font-face {
  font-family: 'HelveticaCE55';
  src: url('./assets/fonts/HelveticaCE55Roman.ttf') format('truetype');
}

/* 页面背景 */
body {
  background-color: black;
}

/* 顶部导航栏 */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  padding: 20px 50px 20px 40px;

}

/* logo 图片 */
.logo {
  height: 40px;
}

/* 菜单容器 */
.menu-links {
  display: flex;
  gap: 100px;
}

/* 单个菜单项 */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.menu-item:hover {
  opacity: 0.7;
}

/* 中文菜单文字 */
.menu-cn {
  font-size: 16px;
  /* font-weight: bold; */
}

/* 英文菜单文字 */
.menu-en {
  font-size: 8px;
  margin-top: 2px;
  letter-spacing: 1px;
}

g

/* 当前页面高亮 */
.menu-item.active {
  border-bottom: 1px solid white;
}

.menu-item.active .menu-cn {
  font-size: 19px;
  /* 原本是 16px + 3 */
}

.menu-item.active .menu-en {
  font-size: 11px;
  /* 原本是 8px + 3 */
}

/* 首页样式 */
/* .ttl {
  color: white;
  font-family: 'HelveticaCE55', bold;
  font-size: 300px;
  font-weight: 700;
  line-height: 288.9px;
  letter-spacing: 30px;
  position: relative;
  white-space: nowrap;
} */

.video-element {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.mv {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.scrolling-text-wrapper {
  position: absolute;
  top: 20%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 默认：文字是实心白色 */
.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 300px;
  font-weight: 700;
  letter-spacing: 30px;
  color: white;
  z-index: 2;
  transition: all 0.3s ease;
}

/* 空心效果（视频区域内激活） */
.scrolling-text.blend {
  mix-blend-mode: screen;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
}

/* 隐藏 Webkit 浏览器滚动条 */
.scrolling-text-wrapper::-webkit-scrollbar {
  display: none;
}